
@font-face {
  font-family: ''korinna-bold'';
  src: local('korinna-bold'), url("../fonts/korinna-bold/korinn.ttf") format('truetype');
}

@font-face {
  font-family: 'swiss-911';
  src: local('swiss-911'), url("../fonts/vni-swiss-condense/vni.common.VSWISEC.ttf") format('truetype');
}
